/* ================================= 
  Base Styles
==================================== */

* {
    box-sizing: border-box;
    
}

p {

    font-family: 'Poppins', sans-serif;
    line-height: 90%;
}

header {
    font-family: 'Libre Baskerville', serif;
}
