/* ================================= 
  Base Styles
==================================== */
* {
  box-sizing: border-box; }

p {
  font-family: 'Arimo', sans-serif;
  font-size: 35px;
  line-height: 90%; }

header, h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: black; }

h2 {
  /*About Me, Blog, etc.. */
  font-family: 'Nanum Gothic Coding', monospace;
  text-align: center;
  color: black; 
  text-align: center;
  opacity: .35;
  font-size: 60px;
 }

  h3 {
    font-family: 'Nanum Gothic Coding', monospace;
    text-align: center;
    font-size: 50px;
    text-align: center;
    color: black; 
    opacity: .35;


  }

  h4{
    font-family: 'Nanum Gothic Coding', monospace;
    text-align: center;
    font-size: 40px;
    text-align: center;
  }
/* ================================= 
  Base Layout Styles
==================================== */
.main-nav {
  display: flex;
  height: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  color: black; }

.white-section p {
  /* about me text*/
  color: black;
  letter-spacing: 1.5px;
  font-family: 'Arimo', sans-serif;
  font-size: 25px;
  line-height: 1.8;
  opacity: 0.5; }

.about-me {
  float: left;
  border-radius: 50%;
  margin: 1em; }

.typed {
  font-family: 'Montserrat', sans-serif;
  display: block;
  font-size: 1.8em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
  color: #353030; }

a:link {
  color: black; }

.nav-list-item {
  padding: 10px;
  background: black;
  border-radius: 5px;
  margin: 45px auto;
  box-shadow: 0 1.5px 0 0 black; }

.card .text-white .bg-dark .mb-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  border-color: lightblue;
  margin: 5px;
  width: 50%;
  align-items: center; }

#presenting {
  -webkit-filter: blur(3px) grayscale(50%);
  /* Safari 6.0 - 9.0 */
  filter: blur(5px) grayscale(50%); 
}
.boxhead a {
    color: #FFFFFF;
    text-decoration: none;
}

:hover a{
  color: black;
  text-decoration: none;

}

.wireframe{
  transform: rotate(90deg); /* Equal to rotateZ(45deg) */
  
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-color:  blue;
  border-width: 1.5px;
}
.sticky-top {
  position: sticky; }

  .square {
    position: relative;
    width: 50%;
    color: black;
  }
  
  .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
  }

body {
  background: white;
  margin-right: 20em;
  margin-left: 20em; }

.type-writer p {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite; }

/* The typing effect */
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: orange; } }
header {
  font-family: 'Lato', sans-serif; }

.post {
  border-style: solid;
  margin: 5px;
  text-align: center;
  width: 50%;
  font-family: 'Poppins', sans-serif;
  line-height: 90%; }

.post-title {
  font-family: 'Libre Baskerville', serif;
  text-align: justify; }

.main-nav {
  list-style-type: none;
  display: flex;
  flex-direction: row; 
  margin: auto;
}

.main-nav-item {
  color: white;

}

.nav-list-item {
  margin: 5px; }

/*# sourceMappingURL=styles.css.map */
